*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
header{
  display: flex;
  /* justify-content:space-between; */
  align-items: center;
  background-color: rgba(11, 234, 185, 0.607);
  padding: 20px;
  position:fixed;
  /* position: relative; */
  gap: 950px;
  
}
.links ul{
  display: flex;
  gap: 20px;

}

.links ul li{
  list-style-type: none;

}
.links ul li a{
  text-decoration: none;
  font-size: large;
  color: blueviolet;
}
a{
  text-decoration: none;
}
.Home{
  display: flex;
  justify-content:space-around;
  height: 100vh;
  align-items: center;
}
.profilepic{
  height: 300px;
  width: 300px;
  border-radius: 70%;
}
.home-left{
  /* display: flex; */
  max-width: 600px;
  background-color: pink;
  padding:15px;
  margin: 10px;
  border: greenyellow 2px solid;
  text-wrap:wrap ;
}
.home-button button {
  color: blanchedalmond;
  margin-top: 15px;
  padding: 6px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  transition: 0.3s ease;
  background-color: transparent;
  cursor: pointer;
}

.home-button button:hover {
  background-color: beige;
  color: white;
  transform: scale(1.05);
}

.heads{
  display: flex;
  color: aqua;
  margin-bottom: 15px;
}
.home-right{

}

.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 50px;
}
.services-boxs {
  display: flex;
  gap: 40px;
}
.services-boxs .services-box {
  max-width: 250px;
  border: 1px solid black;
  padding: 15px;
}
.Services h1{
  margin: 20px;
}
.Projects{
  /* display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  margin-top: 100px;
  height: 100hv;
  
}
.Projects .project-box{
  display: flex;
  justify-content: center;
  gap: 40px;

}
.Projects .project-box .box{
  /* height: 250px; */
  width: 250px;
  border: 1px solid black;
  padding: 20px;
  
}
.Projects h1{
  text-align: center;
  padding: 30px;
}
.skills img {
  margin: 10px;
  transition: transform 0.3s;
}
.skills img:hover {
  transform: scale(1.2);
}
.About{
  display: flex;
  margin: 150px;
  justify-content: center;
  text-align: center;
  height: 50vh;
  
}

.maincon{
  display: flex;
  margin: 50px;
  /* justify-content: center; */
  text-align: center;
  justify-content: space-around;
}
.Contact{
  height: 30hv;
}
.Contact h1{
  text-align: center;
}
.mainco .contact-right{
  display: flex;
  width: 300px;
}